<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="xigen" sortOrder="500" translate="label">
            <label>Xigen</label>
        </tab>
        <section id="log_cleaner" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Log Cleaner</label>
            <tab>xigen</tab>
            <resource>Xigen_LogCleaner::config_xigen_logcleaner</resource>
            <group id="log_cleaner" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Log Cleaner</label>
                <field id="cron" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Cron</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Xigen\LogCleaner\Model\Config\Backend\Frequency</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                </field>
            </group>
        </section>
    </system>
</config>
